<div class="jumbotron">

	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					Project ID
				</th>
				<th>
					Project Name
				</th>
				<th>
					Description
				</th>
				<th>
					Coordinators
				</th>
			</tr>

			<tr ng-repeat="project in projects">
				<td>
					<a href="#/projects/{{project.projectId}}">{{project.projectId}}
					</a>
				</td>
				
				<td>
					<a href="#/projects/{{project.projectId}}">{{project.projectName}}
					</a>	
				</td>
				
				<td>
					<a href="#/{{project.projectId}}">{{project.description}}
					</a>	
				</td>
				
				<td >
					<div ng-repeat="coordinators in project.coordinators">
						<a href="#/{{project.projectId}}">{{coordinators}}
						</a>	
					</div>
				</td>
				
			</tr>
		</thead>
	</table>

</div>
