<div class="jumbotron">
  	<div>
  		<h5>
  			<strong>
  				Project ID:
  			</strong> 
  			{{projectDetails.projectId}}
  		</h5>

		<h5>
 			<strong>
  				Project Name:
			</strong>
			{{projectDetails.projectName}}
		</h5>
	</div>

	<span>
  		Filter By Priority:	
	  	<div class="btn-group ">
  			<button type="button" class="btn btn-default" ng-click="myFilter={priority:'0'}">Show-Stopper</button>
  			<button type="button" class="btn btn-default" ng-click="myFilter={priority:'1'}">High</button>
  			<button type="button" class="btn btn-default" ng-click="myFilter={priority:'2'}">Medium</button>
  			<button type="button" class="btn btn-default" ng-click="myFilter={priority:'3'}">Low</button>
		</div>
			
		<div class="btn-group ">
  			<button type="button" class="btn btn-default" ng-click="myFilter={}">Reset Filter</button>
  		</div>	
	</span>

	<div class="row">
		<div class="col-md-2"  style="background-color:#DDDDDD";> <!--coordinators-->
			<h4>
				Coordinators
			</h4>			

			<div ng-repeat="coordinator in projectDetails.coordinators">
				<div>
  					<h5>
  						{{coordinator}}
  					</h5>
  				</div>
			</div>
		</div>

		<div class="col-md-10" ng-repeat="task in projectDetails.tasks | filter:myFilter"> <!--tasks div-->
			<div class="row">
				<div class="col-md-3"> <!--glyphicons-->
					<div ng-if="task.status == 'completed'" >
  						<span class="glyphicon glyphicon-ok-circle" style="font-size:30px">
  						</span>
  					</div>

  					<div ng-if="task.status == 'pending'">
  						<span class="glyphicon glyphicon-ban-circle" style="font-size:30px">
  						</span>
  					</div>
  							
  					<div ng-if="task.status == 'closed'">
  						<span class="glyphicon glyphicon-remove-circle" style="font-size:30px">
  						</span>
  					</div>
  							
  					Status
				</div> <!--glyphicons closed-->

				<div class="col-md-5"> <!--tasks list-->
					<div>
						<strong>Task Name : </strong> {{task.taskName}}	
					</div>
					<div>
						<strong>Description: </strong>{{task.taskDescription}}	
					</div>
				</div> <!--task list closed-->

				<div class="col-md-3"> <!--assigned to-->
					
					<div>
						<u><a href="">edit | </a></u>
  						<u><a href="">complete | </a></u>
  						<u><a href="">close</a></u>
					</div>

					<div>
						<div>
							<strong>Assigned To : </strong>{{task.assignedTo}}
						</div>
						<div>
							<strong>Created On : </strong>{{task.createdOn}}	
						</div>
  						<div>
  							<strong>Due Date : </strong>{{task.dueDate}}		
  						</div>
					</div>
				</div> <!--assigned to closed-->
			</div>
		</div> <!--tasks div-->
	</div>


</div>