<div class="jumbotron">
  <div class=" detailsContainer" >
  
  	
  	
  	<div ng-repeat="project in projects">
  		<div>
  			<h5>
  				<strong>
  					Project ID:
  				</strong> 
  				{{project.projectId}}
  			</h5>

  			<h5>
  				<strong>
  					Project Name:
  				</strong>
  				{{project.projectName}}
  			</h5>
  		</div>
  	</div>
  	<span>
  	Priority:	
  	<div class="btn-group">
  		<button type="button" class="btn btn-default">Show-Stopper</button>
  		<button type="button" class="btn btn-default">High</button>
  		<button type="button" class="btn btn-default">Medium</button>
  		<button type="button" class="btn btn-default">Low</button>
	</div>
	</span>
  	<hr class="featurette-divider">	
  	<div class="row" ng-repeat="project in projects">
  		
  		<div class="col-md-2 col-sm-2 col-xs-2" style="background-color:#DDDDDD"; >
  			<h4>
  				Coordinators
  			</h4>
  			<div class="coordinators" ng-repeat="coordinators in project.coordinators">
  				<div>
  					<h5>
  						{{coordinators}}
  					</h5>

  				</div>
  				
  			</div>
  			
  					
  				
  			
  		</div>
  		<h4>
  				Tasks
  		</h4>
  		<div ng-repeat="task in project.tasks">

  		<div class="col-md-6 col-sm-6 col-xs-6">
  			

  			<div >
  				<h5>
  					Task Name : {{task.taskName}}
  				</h5>
  				<!-- <p> -->
  					Description: {{task.taskDescription}}
  				<!-- </p> -->
  			</div>
  		</div>

  		<div class="col-md-4 col-sm-4 col-xs-4">
  			
  				Assigned To:{{task.assignedTo}}
  			
  		</div>

  		</div>
 				
  	</div>	
  	
  </div>
</div>
